<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motorsports Quiz Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Motorsports Quiz</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navColor" href="f1quiz">Formula 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navColor" href="motoGPquiz">MotoGP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navColor" href="aboutUs">About Us</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light search" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Navigation Ends -->

    <!-- H1 -->
    <div class="container text-center mb-4">
        <div class="row">
            <h1 class="mb-4">Welcome</h1>
            <p>Welcome to our thrilling motorsports quiz website, where the excitement of the racetrack meets the
                challenge of your knowledge! Buckle up
                and get ready to test your expertise on everything from Formula 1 to MotoGP. Whether you're a seasoned
                petrolhead or a casual fan, our
                quizzes are designed to rev up your brain and fuel your passion for motorsports. Explore a variety of
                questions that will take you on a
                high-speed journey through the history, teams, and iconic moments of the racing world. Join us in the
                fast lane of fun and
                competition – let the motorsports quiz adventure begin!
            </p>
        </div>
    </div>
    <!-- H1 Ends -->

    <!-- F1 & MotoGP -->
    <div class="container mb-4">
        <div class="row">
            <div class="col-6 text-center">
                <h2 class="mb-2">Formula 1 Quiz</h2>
                <h5 class="mb-3">(Click the image)</h5>
                <a href="f1quiz"><img src="{{ url_for('static', filename='/images/ferrari.jpg') }}" class="img-fluid" alt="Ferrari emblem"></a>
            </div>
            <div class="col-6 text-center mw-100">
                <h2 class="mb-2">Moto GP Quiz</h2>
                <h5 class="mb-3">(Click the image)</h5>
                <a href="motoGPquiz"><img src="{{ url_for('static', filename='/images/ducati.jpg') }}" class="img-fluid" alt="Ducati motorbike"></a>
            </div>
        </div>
    </div>
    <!-- F1 & MotoGP Ends -->

    <!-- Paragraph -->
    <div class="container text-center">
        <div class="row">
            <p>Choose our motorsports quiz website for a turbocharged experience that sets us apart. Firstly, our
                meticulously crafted quizzes cover a wide range of motorsports, ensuring there's something for every
                fan,
                from the avid follower to the casual enthusiast. Secondly, our questions are designed to challenge and
                entertain,
                offering a perfect blend of fun and knowledge. Thirdly, our user-friendly interface makes navigating the
                quizzes a breeze,
                allowing you to focus on the thrill of the game. Fourthly, we regularly update our content to keep you
                on the pulse of
                the latest in motorsports. Lastly, our community of like-minded fans fosters a shared passion, creating
                an engaging
                atmosphere for friendly competition. Choose us for a ride that's as educational as it is exhilarating!
            </p>
        </div>
    </div>
    <!-- Paragraph Ends -->

    <!-- Footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-3 border-top custom">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"></a>
            <span class="mb-3 mb-md-0 text-light">© 2023 Motorsports Quiz Site, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end me-3 list-unstyled d-flex">
            <li class="ms-3"><a class="text-light" href="https://twitter.com/" target=”_blank”><i
                        class="bi bi-twitter"></i></a></li>
            <li class="ms-3"><a class="text-light" href="https://www.instagram.com" target=”_blank”><i
                        class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="text-light" href="https://www.facebook.com" target=”_blank”><i
                        class="bi bi-facebook"></i></a></li>
        </ul>
    </footer>
    <!-- Footer Ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>